body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

.dashboard {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background: #0049a8;
  color: #fff;
  padding: 20px 10px;
}

.logo {
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
}

.sidebar li {
  list-style: none;
  padding: 15px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar li:hover,
.sidebar li.active {
  background: #00357e;
}

.logout {
  margin-top: 180px;
  background: #d72828;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 30px;
}

/* Cards on home page */
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.section-card {
  height: 140px;
  background: #e3e8f0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  transition: 0.3s ease;
}

.section-card:hover {
  background: #3abf7c;
}

/* Detail section */
.detail-card {
  width: 60%;
  background: rgb(155, 37, 70);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

/* Detail section */
.detail-card {
  width: 60%;
  max-width: 500px;
  margin: 50px auto; /* center horizontally */
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
  color: #000000;
  background-color: #b0d1d0;
  text-align: center;
}

/* Different colors for each section */
.detail-card.profile {
  background: #4caf50; /* green */
}

.detail-card.fees {
  background: #ff9800; /* orange */
}

.detail-card.attendance {
  background: #2196f3; /* blue */
}

.detail-card.marks {
  background: #9c27b0; /* purple */
}
