/* Make the whole site take full height */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* Flex container for the React app */
#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
